<div class='header'>
  <div class='base-col'>
    <div class='header__copy'>
      <a class='header__copy__series' href='/cities/series/the-empty-doorway'>
        <img src='https://uploads.guim.co.uk/2019/12/06/the-empty-doorway-logo.svg'>
        <span>The Empty Doorway</span>
      </a>
      <a class='header__copy__tag' href='https://www.theguardian.com/cities'>
        <span>Cities</span>
      </a>
      <h1 class='header__copy__headline'>
        Your tributes to homeless people who have died
      </h1>
      <div class='header__copy__standfirst'>
        <p>We asked readers to send us memories and stories of people who died homeless. Here are some of the responses</p>
      </div>
    </div>
    <div class='header__background'>
    </div>
  </div>
</div>

<div class='article-nav'>
  <div class='base-col'>
    <div class='article-nav__label'>Jump to region</div>
    <div class='article-nav__regions'></div>
  </div>
</div>

<div class='tributes'>

  <div class='base-col'>
    <div class='four-lines'>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>

    <div class='tributes__wrapper'></div>

  </div>

</div>

</div>

<div class='methodology'>
  <div class='base-col'>
    <div class='one-line'></div>
    <div class='share'>
      <div class='four-lines'>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>

      <div class="badge badge--alt ">
        <div class="badge__label">
          Cities is supported by
        </div>
        <a class="badge__link" href="http://www.100resilientcities.org/?source=100RC_Guardian_Banner_9.22&amp;utm_medium=display&amp;utm_campaign=100RC_Guardian_Banner_9.22" data-sponsor="rockefeller foundation" rel="nofollow">
          <img src="https://static.theguardian.com/commercial/sponsor/cities/cities/logo.png" alt="Rockefeller Foundation" class="badge__logo">
        </a>
        <a href="https://www.theguardian.com/cities/2014/jan/27/cities-about-this-site" class="badge__help">About this content</a>
      </div>

      <div class='one-line'></div>

      <div class="meta__extras">
        <div class="meta__social" data-component="share">


          <ul class="social social--top js-social--top u-unstyled u-cf" data-component="social">

            <li class="social__item social__item--facebook " data-link-name="facebook">
              <a class="social__action js-social__action--top social-icon-wrapper" data-link-name="social top" href="https://www.facebook.com/dialog/share?app_id=180444840287&amp;href=https%3A%2F%2Fwww.theguardian.com%2Fglobal%2Fng-interactive%2F2019%2Fdec%2F06%2Fdeath-on-our-streets-your-tributes-to-homeless-people-who-have-died%3FCMP%3Dshare_btn_fb" target="_blank" title="Facebook">
                <span class="inline-icon__fallback button">Share on Facebook</span>



                <span class="inline-share-facebook inline-icon rounded-icon centered-icon social-icon social-icon--facebook">

                  <svg width="32" height="32" viewBox="-2 -2 32 32" class="rounded-icon__svg centered-icon__svg social-icon__svg social-icon--facebook__svg inline-share-facebook__svg inline-icon__svg">
                    <path d="M17.9 14h-3v8H12v-8h-2v-2.9h2V8.7C12 6.8 13.1 5 16 5c1.2 0 2 .1 2 .1v3h-1.8c-1 0-1.2.5-1.2 1.3v1.8h3l-.1 2.8z"></path>
                  </svg>

                </span>

              </a>
            </li>

            <li class="social__item social__item--twitter " data-link-name="twitter">
              <a class="social__action js-social__action--top social-icon-wrapper" data-link-name="social top" href="https://twitter.com/intent/tweet?text=Death%20on%20our%20streets%3A%20your%20tributes%20to%20homeless%20people%20who%20have%20died&amp;url=https%3A%2F%2Fwww.theguardian.com%2Fglobal%2Fng-interactive%2F2019%2Fdec%2F06%2Fdeath-on-our-streets-your-tributes-to-homeless-people-who-have-died%3FCMP%3Dshare_btn_tw" target="_blank" title="Twitter">
                <span class="inline-icon__fallback button">Share on Twitter</span>



                <span class="inline-share-twitter inline-icon rounded-icon centered-icon social-icon social-icon--twitter">

                  <svg width="32" height="32" viewBox="-2 -2 32 32" class="rounded-icon__svg centered-icon__svg social-icon__svg social-icon--twitter__svg inline-share-twitter__svg inline-icon__svg">
                    <path d="M21.3 10.5v.5c0 4.7-3.5 10.1-9.9 10.1-2 0-3.8-.6-5.3-1.6.3 0 .6.1.8.1 1.6 0 3.1-.6 4.3-1.5-1.5 0-2.8-1-3.3-2.4.2 0 .4.1.7.1l.9-.1c-1.6-.3-2.8-1.8-2.8-3.5.5.3 1 .4 1.6.4-.9-.6-1.6-1.7-1.6-2.9 0-.6.2-1.3.5-1.8 1.7 2.1 4.3 3.6 7.2 3.7-.1-.3-.1-.5-.1-.8 0-2 1.6-3.5 3.5-3.5 1 0 1.9.4 2.5 1.1.8-.1 1.5-.4 2.2-.8-.3.8-.8 1.5-1.5 1.9.7-.1 1.4-.3 2-.5-.4.4-1 1-1.7 1.5z"></path>
                  </svg>

                </span>

              </a>
            </li>

            <li class="social__item social__item--email " data-link-name="email">
              <a class="social__action js-social__action--top social-icon-wrapper" data-link-name="social top" href="mailto:?subject=Death%20on%20our%20streets%3A%20your%20tributes%20to%20homeless%20people%20who%20have%20died&amp;body=https%3A%2F%2Fwww.theguardian.com%2Fglobal%2Fng-interactive%2F2019%2Fdec%2F06%2Fdeath-on-our-streets-your-tributes-to-homeless-people-who-have-died%3FCMP%3Dshare_btn_link" target="_blank" title="Email">
                <span class="inline-icon__fallback button">Share via Email</span>



                <span class="inline-share-email inline-icon rounded-icon centered-icon social-icon social-icon--email">

                  <svg width="32" height="32" viewBox="0 0 32 32" class="rounded-icon__svg centered-icon__svg social-icon__svg social-icon--email__svg inline-share-email__svg inline-icon__svg">
                    <path d="M23.363 20.875H8.637v-8.938l6.545 5.687h1.637l6.544-5.687v8.938zm-1.635-9.75L16 16l-5.728-4.875h11.456zM23.363 9.5H8.637L7 11.125v9.75L8.637 22.5h14.727L25 20.875v-9.75L23.363 9.5z"></path>
                  </svg>

                </span>

              </a>
            </li>

          </ul>



        </div>
        <div class="meta__numbers">
          <div class="u-h meta__number js-sharecount">
          </div>
          <div class="u-h meta__number" data-discussion-id="/p/cpddn" data-commentcount-format="content" data-discussion-closed="true">
          </div>
        </div>
      </div>

    </div>
    <div class='text'>
      <p>The Empty Doorway series from Guardian Cities and G2 launched in September in response to the horrific statistics on homelessness and homeless deaths in the UK. But we wanted to look behind the numbers, to paint a portrait of some of these people - piecing together details about their lives to commemorate them.</p>
      <p>We always knew, however, that there were many, many others, so we asked you to share your personal memories of people you knew who died homeless. The stories were incredibly moving. Some were about deeply loved friends or relatives, others about service users or strangers whom you struck up a relationship with, started to care and worry about, and whom you still often think of - years or even decades on. Many of you told us you felt you did everything you could think of to help but still worry there’s more you could have done. We’ve published some of your tributes here.</p>
      <p>The different regions indicate where people lived when they were homeless rather than where they were from.</p>
    </div>

  </div>
</div>

<section id="series" class="fc-container fc-container--will-have-toggle js-container--toggle " data-link-name="container-2 | series" data-id="series" data-component="series" aria-expanded="true">




  <div class="fc-container__inner">






    <header class="fc-container__header js-container__header">








      <header class="fc-container__header

fc-container__header--is-badged

">


        <div class="fc-container__header__title">

          <a data-link-name="section heading" href="https://www.theguardian.com/cities/series/the-empty-doorway">

            <div class="badge-slot">
              <img class="badge-slot__img" src="https://assets.guim.co.uk/images/badges/b6ad45c9053023f91c2da2b2da33ed86/the-empty-doorway.svg" alt="">
            </div>

            <h2 class="fc-container__title__text">The empty doorway</h2>
          </a>





        </div>







      </header>


      <div class="fc-container__header__description">
        <p>An estimated 800 homeless people died in the 18 months to March 2019. In this series, Guardian Cities looks behind this statistic to tell the stories of some of those who have died on Britain’s streets</p>
      </div>


    </header>













    <div class="fc-container--rolled-up-hide fc-container__body" data-title="The empty doorway" data-id="series">





      <div class="fc-slice-wrapper">
        <ul class="u-unstyled l-row  l-row--cols-4 fc-slice fc-slice--q-q-q-q">








          <li class="fc-slice__item l-row__item l-row__item--span-1 u-faux-block-link">







            <div class="fc-item fc-item--has-cutout fc-item--has-image fc-item--has-metadata fc-item--has-timestamp fc-item--pillar-news fc-item--type-comment js-fc-item fc-item--list-media-mobile fc-item--standard-tablet js-snappable" data-link-name="comment | group-0 | card-@1" data-item-visibility="all" data-test-id="facia-card" data-id="cities/2019/dec/10/homelessness-is-not-inevitable-and-can-be-solved-these-cities-show-us-how" data-loyalty-short-url="/p/cpdfx">



              <div class="fc-item__container">


                <div class="fc-item__content ">
                  <div class="fc-item__header">













                    <h3 class="fc-item__title fc-item__title--quoted"><a href="https://www.theguardian.com/cities/2019/dec/10/homelessness-is-not-inevitable-and-can-be-solved-these-cities-show-us-how" class="fc-item__link" data-link-name="article">
                        <span class="u-faux-block-link__cta fc-item__headline">




                          <span class="inline-garnett-quote inline-icon ">

                            <svg width="70" height="49" viewBox="0 0 35 25" class="inline-garnett-quote__svg inline-icon__svg">
                              <path d="M69.587.9c-1.842 15.556-3.89 31.316-4.708 48.1H37.043c3.07-16.784 8.391-32.544 17.602-48.1h14.942zM32.949.9c-2.047 15.556-4.094 31.316-4.912 48.1H.2C3.066 32.216 8.592 16.456 17.598.9h15.35z"></path>
                            </svg>

                          </span>

                          <span class="js-headline-text">Homelessness is not inevitable and can be solved – these cities show us how</span></span>
                      </a></h3>





                    <div class="fc-item__byline">Jon Henley</div>


                  </div>


                  <div class="fc-item__standfirst-wrapper fc-item__standfirst-wrapper--timestamp">


                    <div class="fc-item__standfirst">Big national strategies often struggle to make progress but, from Trieste to Helsinki, individual cities are reducing – and even ending – homelessness</div>





                    <div class="fc-item__meta js-item__meta">

                      <time class="fc-item__timestamp js-item__timestamp" datetime="2019-12-10T12:00:09+0000" data-timestamp="1575979209000" data-relativeformat="short">



                        <span class="inline-clock inline-icon ">

                          <svg width="11" height="11" viewBox="0 0 11 11" class="inline-clock__svg inline-icon__svg">
                            <path d="M5.4 0C2.4 0 0 2.4 0 5.4s2.4 5.4 5.4 5.4 5.4-2.4 5.4-5.4S8.4 0 5.4 0zm3 6.8H4.7V1.7h.7L6 5.4l2.4.6v.8z"></path>
                          </svg>

                        </span>

                        <span class="fc-timestamp__text">
                          <span class="u-h">Published: </span>10 Dec 2019
                        </span>
                      </time>

                    </div>

                  </div>


                  <div class="fc-item__avatar">


                    <picture>

                      <!--[if IE 9]><video style="display: none;"><![endif]-->

                      <source media="(min-width: 980px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 980px) and (min-resolution: 120dpi)" sizes="216px" srcset="https://i.guim.co.uk/img/uploads/2017/10/06/Jon_Henley,_L.png?width=216&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=1.3&amp;s=3fc65a1f0c2ad81b661b082f51fcae4a" 432w="">
                      <source media="(min-width: 980px)" sizes="216px" srcset="https://i.guim.co.uk/img/uploads/2017/10/06/Jon_Henley,_L.png?width=216&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=a3533191810c6475861573e42bc83113 216w">

                      <source media="(min-width: 740px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 740px) and (min-resolution: 120dpi)" sizes="216px" srcset="https://i.guim.co.uk/img/uploads/2017/10/06/Jon_Henley,_L.png?width=216&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=1.3&amp;s=3fc65a1f0c2ad81b661b082f51fcae4a" 432w="">
                      <source media="(min-width: 740px)" sizes="216px" srcset="https://i.guim.co.uk/img/uploads/2017/10/06/Jon_Henley,_L.png?width=216&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=a3533191810c6475861573e42bc83113 216w">

                      <source media="(min-width: 0px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 0px) and (min-resolution: 120dpi)" sizes="115px" srcset="https://i.guim.co.uk/img/uploads/2017/10/06/Jon_Henley,_L.png?width=115&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=1.3&amp;s=a3f02f27ef8d9b184a7ac2afd004e502" 230w="">
                      <source media="(min-width: 0px)" sizes="115px" srcset="https://i.guim.co.uk/img/uploads/2017/10/06/Jon_Henley,_L.png?width=115&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=0bf2d82d25dc82199bf90bd664cc1e94 115w">

                      <!--[if IE 9]></video><![endif]-->

                      <img loading="lazy" class="fc-item__avatar__media image--landscape" alt="" src="https://uploads.guim.co.uk/2017/10/06/Jon_Henley,_L.png">

                    </picture>

                  </div>








                </div>







                <div class="fc-item__meta js-item__meta">

                  <time class="fc-item__timestamp js-item__timestamp" datetime="2019-12-10T12:00:09+0000" data-timestamp="1575979209000" data-relativeformat="short">



                    <span class="inline-clock inline-icon ">

                      <svg width="11" height="11" viewBox="0 0 11 11" class="inline-clock__svg inline-icon__svg">
                        <path d="M5.4 0C2.4 0 0 2.4 0 5.4s2.4 5.4 5.4 5.4 5.4-2.4 5.4-5.4S8.4 0 5.4 0zm3 6.8H4.7V1.7h.7L6 5.4l2.4.6v.8z"></path>
                      </svg>

                    </span>

                    <span class="fc-timestamp__text">
                      <span class="u-h">Published: </span>10 Dec 2019
                    </span>
                  </time>

                </div>



                <a href="https://www.theguardian.com/cities/2019/dec/10/homelessness-is-not-inevitable-and-can-be-solved-these-cities-show-us-how" class="u-faux-block-link__overlay js-headline-text" data-link-name="article" tabindex="-1" aria-hidden="true">Homelessness is not inevitable and can be solved – these cities show us how</a>
              </div>



            </div>










          </li>












          <li class="fc-slice__item l-row__item l-row__item--span-1 u-faux-block-link">







            <div class="fc-item fc-item--has-image fc-item--has-metadata fc-item--has-timestamp fc-item--pillar-news fc-item--type-feature js-fc-item fc-item--list-media-mobile fc-item--standard-tablet js-snappable" data-link-name="feature | group-0 | card-@2" data-item-visibility="all" data-test-id="facia-card" data-id="cities/2019/dec/10/mark-starrs-family-thought-he-was-thriving-in-a-new-city-the-truth-was-far-darker" data-loyalty-short-url="/p/cpex2">



              <div class="fc-item__container">

                <div class="fc-item__media-wrapper">





                  <div class="fc-item__image-container u-responsive-ratio ">



                    <picture>

                      <!--[if IE 9]><video style="display: none;"><![endif]-->

                      <source media="(min-width: 980px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 980px) and (min-resolution: 120dpi)" sizes="220px" srcset="https://i.guim.co.uk/img/media/19cd3be66b8a0c07655d458323355606a0979848/0_349_5698_3420/master/5698.jpg?width=220&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=d35377a54972a060ce5b090024a9fb49" 440w="">
                      <source media="(min-width: 980px)" sizes="220px" srcset="https://i.guim.co.uk/img/media/19cd3be66b8a0c07655d458323355606a0979848/0_349_5698_3420/master/5698.jpg?width=220&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=a743e51aa0de81e3141bce037bc05f6d 220w">

                      <source media="(min-width: 740px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 740px) and (min-resolution: 120dpi)" sizes="160px" srcset="https://i.guim.co.uk/img/media/19cd3be66b8a0c07655d458323355606a0979848/0_349_5698_3420/master/5698.jpg?width=160&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=293b28a9b410b15cd32051916b74437c" 320w="">
                      <source media="(min-width: 740px)" sizes="160px" srcset="https://i.guim.co.uk/img/media/19cd3be66b8a0c07655d458323355606a0979848/0_349_5698_3420/master/5698.jpg?width=160&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=88e5453b54c3c3181ed25d13875bbda2 160w">

                      <source media="(min-width: 0px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 0px) and (min-resolution: 120dpi)" sizes="127px" srcset="https://i.guim.co.uk/img/media/19cd3be66b8a0c07655d458323355606a0979848/0_349_5698_3420/master/5698.jpg?width=127&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=c3e4766a02ab2ed471083aa8bd1aac93" 254w="">
                      <source media="(min-width: 0px)" sizes="127px" srcset="https://i.guim.co.uk/img/media/19cd3be66b8a0c07655d458323355606a0979848/0_349_5698_3420/master/5698.jpg?width=127&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=97bdcb6131487fe7c30ded366e620e54 127w">

                      <!--[if IE 9]></video><![endif]-->

                      <img loading="lazy" class="responsive-img" alt="" src="https://i.guim.co.uk/img/media/19cd3be66b8a0c07655d458323355606a0979848/0_349_5698_3420/master/5698.jpg?width=300&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=b0ce2d748e8065d2fca0eb282c021abb">

                    </picture>


                  </div>

                </div>


                <div class="fc-item__content ">
                  <div class="fc-item__header">













                    <h3 class="fc-item__title"><a href="https://www.theguardian.com/cities/2019/dec/10/mark-starrs-family-thought-he-was-thriving-in-a-new-city-the-truth-was-far-darker" class="fc-item__link" data-link-name="article">
                        <span class="u-faux-block-link__cta fc-item__headline">


                          <span class="js-headline-text">Mark Starr's family thought he was thriving in a new city. The truth was far darker</span></span>
                      </a></h3>






                  </div>


                  <div class="fc-item__standfirst-wrapper fc-item__standfirst-wrapper--timestamp">


                    <div class="fc-item__standfirst"><strong>Mark Starr 1965-2019</strong> It took five weeks for the news to reach the Starrs: rather than being stable and happy, Mark had died sleeping rough in a Glasgow park. Why?</div>





                    <div class="fc-item__meta js-item__meta">

                      <time class="fc-item__timestamp js-item__timestamp" datetime="2019-12-10T06:00:01+0000" data-timestamp="1575957601000" data-relativeformat="short">



                        <span class="inline-clock inline-icon ">

                          <svg width="11" height="11" viewBox="0 0 11 11" class="inline-clock__svg inline-icon__svg">
                            <path d="M5.4 0C2.4 0 0 2.4 0 5.4s2.4 5.4 5.4 5.4 5.4-2.4 5.4-5.4S8.4 0 5.4 0zm3 6.8H4.7V1.7h.7L6 5.4l2.4.6v.8z"></path>
                          </svg>

                        </span>

                        <span class="fc-timestamp__text">
                          <span class="u-h">Published: </span>10 Dec 2019
                        </span>
                      </time>

                    </div>

                  </div>









                </div>





                <a href="https://www.theguardian.com/cities/2019/dec/10/mark-starrs-family-thought-he-was-thriving-in-a-new-city-the-truth-was-far-darker" class="u-faux-block-link__overlay js-headline-text" data-link-name="article" tabindex="-1" aria-hidden="true">Mark Starr's family thought he was thriving in a new city. The truth was far darker</a>
              </div>



            </div>










          </li>












          <li class="fc-slice__item l-row__item l-row__item--span-1 u-faux-block-link">







            <div class="fc-item fc-item--has-image fc-item--has-metadata fc-item--has-timestamp fc-item--is-media-link fc-item--pillar-news fc-item--type-media fc-item--video js-fc-item fc-item--list-media-mobile fc-item--standard-tablet js-snappable" data-link-name="media | group-0 | card-@3" data-item-visibility="all" data-test-id="facia-card" data-id="cities/video/2019/dec/10/my-homeless-brother-died-on-the-streets-of-glasgow-who-will-be-next-video" data-loyalty-short-url="/p/cqvtm">



              <div class="fc-item__container">

                <div class="fc-item__media-wrapper">
                  <div class="fc-item__video-container">








                    <div data-media-atom-id="657527f9-fd93-4005-abad-e06afc0e49a0" class="u-responsive-ratio u-responsive-ratio--hd youtube-media-atom youtube-related-videos" data-channel-id="UCHpw8xwDNhU9gdohEcJu4aA">





                      <div id="youtube-1i1hGxhrKz8" data-asset-id="1i1hGxhrKz8" class="youtube-media-atom__iframe"></div>






                      <div class="vjs-big-play-button youtube-media-atom__overlay" style="background-image: url(https://i.guim.co.uk/img/media/3e26e776e2fa730ad471da67433edf6323b51e5f/120_0_1800_1080/master/1800.jpg?width=700&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=b0e486a2b5c4fb4febd7ddbb1fed49fc)">




                        <div class="youtube-media-atom__play-button vjs-control-text">
                          Play Video


                          <span class="inline-play inline-icon ">

                            <svg width="46" height="39" viewBox="0 0 46 39" class="inline-play__svg inline-icon__svg">
                              <path d="M46 20.58v-2.02L1.64 0 0 1.3v36.55L1.64 39 46 20.58z"></path>
                            </svg>

                          </span>

                        </div>



                      </div>


                    </div>





                  </div>
                </div>


                <div class="fc-item__content ">
                  <div class="fc-item__header">













                    <h3 class="fc-item__title"><a href="https://www.theguardian.com/cities/video/2019/dec/10/my-homeless-brother-died-on-the-streets-of-glasgow-who-will-be-next-video" class="fc-item__link" data-link-name="article">
                        <span class="u-faux-block-link__cta fc-item__headline">


                          <span class="js-headline-text">My homeless brother died on the streets of Glasgow. Who will be next? –&nbsp;video&nbsp;</span></span>
                      </a></h3>






                  </div>




                  <div class="fc-item__standfirst">
                    <p>Mark Starr died on the streets of Glasgow earlier this year; his family found out five weeks later on social media. As part of the Guardian’s&nbsp;<a href="https://www.theguardian.com/cities/series/the-empty-doorway">empty doorway</a>&nbsp;series we retraced his final steps alongside his brother Tony</p>
                  </div>






                  <div class="fc-item__footer-meta-wrapper">

                    <div class="fc-item__meta-wrapper">


                      <div class="fc-item__media-meta">



                        <span class="inline-video-icon inline-icon ">

                          <svg width="36" height="23" viewBox="0 0 36 23" class="inline-video-icon__svg inline-icon__svg">
                            <path d="M3.2 0L0 3.3v16.4L3.3 23H22V0H3.2m30.4 1L25 9v5l8.6 8H36V1h-2.4"></path>
                          </svg>

                        </span>


                        <span class="fc-item__video-duration">8:01</span>

                      </div>










                      <div class="fc-item__meta js-item__meta">

                        <time class="fc-item__timestamp js-item__timestamp" datetime="2019-12-10T06:00:01+0000" data-timestamp="1575957601000" data-relativeformat="short">



                          <span class="inline-clock inline-icon ">

                            <svg width="11" height="11" viewBox="0 0 11 11" class="inline-clock__svg inline-icon__svg">
                              <path d="M5.4 0C2.4 0 0 2.4 0 5.4s2.4 5.4 5.4 5.4 5.4-2.4 5.4-5.4S8.4 0 5.4 0zm3 6.8H4.7V1.7h.7L6 5.4l2.4.6v.8z"></path>
                            </svg>

                          </span>

                          <span class="fc-timestamp__text">
                            <span class="u-h">Published: </span>10 Dec 2019
                          </span>
                        </time>

                      </div>

                    </div>


                  </div>

                </div>





                <a href="https://www.theguardian.com/cities/video/2019/dec/10/my-homeless-brother-died-on-the-streets-of-glasgow-who-will-be-next-video" class="u-faux-block-link__overlay js-headline-text" data-link-name="article" tabindex="-1" aria-hidden="true">My homeless brother died on the streets of Glasgow. Who will be next? –&nbsp;video&nbsp;</a>
              </div>



            </div>










          </li>












          <li class="fc-slice__item l-row__item l-row__item--span-1 u-faux-block-link">







            <div class="fc-item fc-item--has-image fc-item--has-metadata fc-item--has-timestamp fc-item--pillar-news fc-item--type-comment js-fc-item fc-item--list-media-mobile fc-item--standard-tablet js-snappable" data-link-name="comment | group-0 | card-@4" data-item-visibility="all" data-test-id="facia-card" data-id="cities/2019/dec/03/the-homeless-death-statistics-are-shocking-but-the-true-total-may-be-even-higher" data-loyalty-short-url="/p/cnq3g">



              <div class="fc-item__container">

                <div class="fc-item__media-wrapper">





                  <div class="fc-item__image-container u-responsive-ratio ">



                    <picture>

                      <!--[if IE 9]><video style="display: none;"><![endif]-->

                      <source media="(min-width: 980px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 980px) and (min-resolution: 120dpi)" sizes="220px" srcset="https://i.guim.co.uk/img/media/00ec34d900ec59c9f009a2876de4060ed92349d3/0_69_3488_2094/master/3488.jpg?width=220&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=c35f400eaba7de7c7a53373b17fbd8f8" 440w="">
                      <source media="(min-width: 980px)" sizes="220px" srcset="https://i.guim.co.uk/img/media/00ec34d900ec59c9f009a2876de4060ed92349d3/0_69_3488_2094/master/3488.jpg?width=220&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=7a36ec2d45d5f237f2dec7aebbc08386 220w">

                      <source media="(min-width: 740px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 740px) and (min-resolution: 120dpi)" sizes="160px" srcset="https://i.guim.co.uk/img/media/00ec34d900ec59c9f009a2876de4060ed92349d3/0_69_3488_2094/master/3488.jpg?width=160&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=74af65d487ad51319b908c2e7381a99e" 320w="">
                      <source media="(min-width: 740px)" sizes="160px" srcset="https://i.guim.co.uk/img/media/00ec34d900ec59c9f009a2876de4060ed92349d3/0_69_3488_2094/master/3488.jpg?width=160&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=81ebb606a6d94776744f8e403331188e 160w">

                      <source media="(min-width: 0px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 0px) and (min-resolution: 120dpi)" sizes="127px" srcset="https://i.guim.co.uk/img/media/00ec34d900ec59c9f009a2876de4060ed92349d3/0_69_3488_2094/master/3488.jpg?width=127&amp;quality=45&amp;auto=format&amp;fit=max&amp;dpr=2&amp;s=84e18d82ae80e9e00b2da73fe6d25654" 254w="">
                      <source media="(min-width: 0px)" sizes="127px" srcset="https://i.guim.co.uk/img/media/00ec34d900ec59c9f009a2876de4060ed92349d3/0_69_3488_2094/master/3488.jpg?width=127&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=be8ac52c046de75371f40760045cd1d9 127w">

                      <!--[if IE 9]></video><![endif]-->

                      <img loading="lazy" class="responsive-img" alt="" src="https://i.guim.co.uk/img/media/00ec34d900ec59c9f009a2876de4060ed92349d3/0_69_3488_2094/master/3488.jpg?width=300&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=2588eb58639645490f4a58a0d25c0672">

                    </picture>


                  </div>

                </div>


                <div class="fc-item__content ">
                  <div class="fc-item__header">













                    <h3 class="fc-item__title fc-item__title--quoted"><a href="https://www.theguardian.com/cities/2019/dec/03/the-homeless-death-statistics-are-shocking-but-the-true-total-may-be-even-higher" class="fc-item__link" data-link-name="article">
                        <span class="u-faux-block-link__cta fc-item__headline">




                          <span class="inline-garnett-quote inline-icon ">

                            <svg width="70" height="49" viewBox="0 0 35 25" class="inline-garnett-quote__svg inline-icon__svg">
                              <path d="M69.587.9c-1.842 15.556-3.89 31.316-4.708 48.1H37.043c3.07-16.784 8.391-32.544 17.602-48.1h14.942zM32.949.9c-2.047 15.556-4.094 31.316-4.912 48.1H.2C3.066 32.216 8.592 16.456 17.598.9h15.35z"></path>
                            </svg>

                          </span>

                          <span class="js-headline-text">The homeless death statistics are shocking – but the true total may be even higher</span></span>
                      </a></h3>





                    <div class="fc-item__byline">Sebastian Lucas</div>


                  </div>


                  <div class="fc-item__standfirst-wrapper fc-item__standfirst-wrapper--timestamp">


                    <div class="fc-item__standfirst">Last year 726 people died on the streets of England and Wales. Pathologist Sebastian Lucas explains why the official numbers might be wrong</div>





                    <div class="fc-item__meta js-item__meta">

                      <time class="fc-item__timestamp js-item__timestamp" datetime="2019-12-03T10:30:19+0000" data-timestamp="1575369019000" data-relativeformat="short">



                        <span class="inline-clock inline-icon ">

                          <svg width="11" height="11" viewBox="0 0 11 11" class="inline-clock__svg inline-icon__svg">
                            <path d="M5.4 0C2.4 0 0 2.4 0 5.4s2.4 5.4 5.4 5.4 5.4-2.4 5.4-5.4S8.4 0 5.4 0zm3 6.8H4.7V1.7h.7L6 5.4l2.4.6v.8z"></path>
                          </svg>

                        </span>

                        <span class="fc-timestamp__text">
                          <span class="u-h">Published: </span>3 Dec 2019
                        </span>
                      </time>

                    </div>

                  </div>









                </div>







                <div class="fc-item__meta js-item__meta">

                  <time class="fc-item__timestamp js-item__timestamp" datetime="2019-12-03T10:30:19+0000" data-timestamp="1575369019000" data-relativeformat="short">



                    <span class="inline-clock inline-icon ">

                      <svg width="11" height="11" viewBox="0 0 11 11" class="inline-clock__svg inline-icon__svg">
                        <path d="M5.4 0C2.4 0 0 2.4 0 5.4s2.4 5.4 5.4 5.4 5.4-2.4 5.4-5.4S8.4 0 5.4 0zm3 6.8H4.7V1.7h.7L6 5.4l2.4.6v.8z"></path>
                      </svg>

                    </span>

                    <span class="fc-timestamp__text">
                      <span class="u-h">Published: </span>3 Dec 2019
                    </span>
                  </time>

                </div>



                <a href="https://www.theguardian.com/cities/2019/dec/03/the-homeless-death-statistics-are-shocking-but-the-true-total-may-be-even-higher" class="u-faux-block-link__overlay js-headline-text" data-link-name="article" tabindex="-1" aria-hidden="true">The homeless death statistics are shocking – but the true total may be even higher</a>
              </div>



            </div>










          </li>





        </ul>
      </div>




    </div>


  </div>

</section>
