.is-immersive-interactive .l-footer {
  display: block;
  .subnav {
    background-color: $light;
    .gs-container {
      border-left-color: $light;
      border-right-color: $light;
      border-top-color: $black;
      @include mq(tablet) {
        border-color: $black;
      }
    }
  }
  .js-footer__email-container {
    display: none;
  }
}
