.methodology {

  .badge--alt {
    border-top: 0;
    position: relative;
    margin-bottom: 9px;
    @include mq(leftCol) {
      padding-bottom: 24px;
      margin-bottom: 6px;
    }
    .badge__label {
      color: $black;
      font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
      font-size: 14px;
      line-height: 18px;
      font-weight: 500;
    }
    & > .badge__help {
      color: $black;
    }
    &:after {
      @include mq(tablet) {
        right: 0;
      }
      @include mq(leftCol) {
        width: 170px !important;
      }
      @include mq(leftCol) {
        width: 240px;
      }
    }
  }

  .share {
    @include mq(leftCol) {
      width: 145px;
      position: absolute;
      .meta__extras {
        margin-left: -5px;
        &:before {
          left: 2px;
        }
      }
    }
    @include mq(wide) {
      width: 220px;
      .meta__extras {
        margin-left: 0;
      }
    }
  }
  .meta__extras,
  .badge--alt {
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: -10px;
      right: -10px;
      height: 1px;
      background-color: $black;
      @include mq(mobileLandscape) {
        left: -20px;
        right: -20px;
      }
    }
  }
  .meta__extras {
    border: 0;
    padding-top: 18px;
    padding-bottom: 9px;
    max-width: 620px;
    @include mq(leftCol) {
      padding-right: 0;
    }
    @include mq(wide) {
      padding-right: 10px;
    }
    &:before {
      display: block;
      position: absolute;
      top: 2px;
      content: 'Share this project';
      font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
      font-size: 14px;
      line-height: 18px;
    }
    &:after {
      @include mq(tablet) {
        right: -100px;
      }
      @include mq(desktop) {
        right: -340px;
      }
      @include mq(leftCol) {
        display: none;
      }
    }
    .social-icon {
      background-color: transparent;
      border: 1px solid $black;
      svg {
        fill: $black;
      }
    }
  }
}
