.tributes {
  .tributes__wrapper:empty {
    height: 100vh;
  }
  .four-lines {
    margin: 0 -10px;
    @include mq(mobileLandscape) {
      margin: 0 -20px;
    }
    div {
      display: block;
      height: 1px;
      margin-bottom: 3px;
      background-color: $black;
    }
  }

  .base-col {
    position: relative;
    &:before,
    &:after {
      @include mq(tablet) {
        content: '';
        position: absolute;
        top: 0px;
        bottom: -76px;
        width: 1px;
        background-color: $black;
      }
      @include mq(desktop) {
        bottom: -120px;
      }
    }
    &:before {
      left: 0;
    }
    &:after {
      right: 0;
    }
  }
}
