@import "mq";
@import "fonts";
@import "palette";

// Uncomment for embeds
//@import "embed";
// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";

// Palette
$light: #FFF4F2;
$red: #C70000;
$black: #121212;

// Article
@import "base";
@import "header";
@import "article-nav";
@import "tributes";
@import "tribute";
@import "tribute-animation";
@import "methodology";
@import "meta";
@import "g-footer";
@import "g-onward";
@import "app";

.element-atom,
.interactive-atom {
    margin: 0 !important;
}

